In [1]:
import pandas as pd
import numpy as np
np.random.seed(101)

## Soal 1

In [2]:
# Input
my_str = 'dbc deb abed ade'

# Solution
ser = pd.Series(list('dbc deb abed ade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
print('Rubah character space dengan huruf yang paling jarang muncul')
print('\n')

#Series juga mempunyai fungsi replace yang mirip dengan string
print("".join(ser.replace(' ', least_freq)))

d    4
     3
e    3
b    3
a    2
c    1
dtype: int64
Rubah character space dengan huruf yang paling jarang muncul


dbccdebcabedcade

In [3]:
for i in ser:
    print(i)

d
b
c

d
e
b

a
b
e
d

a
d
e

In [4]:
ser = pd.Series(range(15))
ser

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [5]:
ser.size

15

In [6]:
ser

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

In [ ]:
#windos_len =4, stride_len = 2
#n_strides = ((15 - 4)//2)+ 1
#n_strides = 6
n_strides = ((ser.size-window_len)//stride_len) + 1


ser[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]

In [11]:
for s in np.arange(0, 15, 2)[:6]:
    print(s)

0
2
4
6
8
10

In [15]:
ser[6:(6+4)]

6    6
7    7
8    8
9    9
dtype: int64

In [17]:
def gen_strides(a, stride_len, window_len):
    n_strides = ((a.size-window_len)//stride_len) + 1
    col_names = ['Column {}'.format(i) for i in range(window_len)]
    return pd.DataFrame(np.array([a[s:(s+window_len)] for s in np.arange(0, a.size, stride_len)[:n_strides]]),
                       columns = col_names)

gen_strides(ser, stride_len=2, window_len=4)

   Column 0  Column 1  Column 2  Column 3
0         0         1         2         3
1         2         3         4         5
2         4         5         6         7
3         6         7         8         9
4         8         9        10        11
5        10        11        12        13

## Soal 3

In [18]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [6]:
df['a']

0     0
1     5
2    10
3    15
Name: a, dtype: int32

In [21]:
print(df[['a']])
print(type(df[['a']]))

<class 'pandas.core.frame.DataFrame'>

In [22]:
# df[list('cbade')]
df[['c', 'b', 'd', 'a', 'e']]

    c   b   d   a   e
0   2   1   3   0   4
1   7   6   8   5   9
2  12  11  13  10  14
3  17  16  18  15  19

## Soal 4

In [28]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [35]:
a , b = df.iloc[1, :].copy(), df.iloc[2,:]

In [36]:
b

0    10
1    11
2    12
3    13
4    14
Name: 2, dtype: int32

In [39]:
def swap_rows(df, i1, i2):
    a, b = df.iloc[i1, :].copy(), df.iloc[i2, :].copy()
    df.iloc[i1, :], df.iloc[i2, :] = b, a
    return df

df = swap_rows(df, 1, 2)
df

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

In [44]:
df.iloc[::-1, :].reset_index().index

RangeIndex(start=0, stop=5, step=1)

## Soal 5

In [45]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df

    0   1   2   3   4   5   6   7   8   9
0  96  12  82  71  64  88  76  10  78  41
1   5  64  41  61  93  65   6  13  94  41
2  50  84   9  30  60  35  45  73  20  11
3  77  96  88   1  74   9  63  37  84  29
4  64   8  11  53  57  39  74  53  19  72
5  16  45   1  13  18  76  80  98  94  25
6  37  64  20  36  31  11  61  21  28   9
7  87  27  88  47  48  55  87  10  46   3

In [46]:
out = df.apply(lambda x: x.sort_values().unique()[-2], axis=1)
df['2nd largest'] = out
df

    0   1   2   3   4   5   6   7   8   9  2nd largest
0  96  12  82  71  64  88  76  10  78  41           88
1   5  64  41  61  93  65   6  13  94  41           93
2  50  84   9  30  60  35  45  73  20  11           73
3  77  96  88   1  74   9  63  37  84  29           88
4  64   8  11  53  57  39  74  53  19  72           72
5  16  45   1  13  18  76  80  98  94  25           94
6  37  64  20  36  31  11  61  21  28   9           61
7  87  27  88  47  48  55  87  10  46   3           87