In [1]:
import pandas as pd
import numpy as np
np.random.seed(101)

## Soal 1

In [2]:
# Input
my_str = 'dbc deb abed gade'

d    4
e    3
     3
b    3
a    2
c    1
dtype: int64
Rubah character space dengan huruf yang paling jarang muncul


dbccdebcabedcade

## Soal 2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
dtype: int64

   Column 0  Column 1  Column 2  Column 3
0         0         1         2         3
1         2         3         4         5
2         4         5         6         7
3         6         7         8         9
4         8         9        10        11
5        10        11        12        13

## Soal 3

In [5]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

0     0
1     5
2    10
3    15
Name: a, dtype: int32

    a
0   0
1   5
2  10
3  15
<class 'pandas.core.frame.DataFrame'>

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

## Soal 4

In [9]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

    0   1   2   3   4
0  20  21  22  23  24
1  15  16  17  18  19
2   5   6   7   8   9
3  10  11  12  13  14
4   0   1   2   3   4

## Soal 5

In [12]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df

    0   1   2   3   4   5   6   7   8   9
0  96  12  82  71  64  88  76  10  78  41
1   5  64  41  61  93  65   6  13  94  41
2  50  84   9  30  60  35  45  73  20  11
3  77  96  88   1  74   9  63  37  84  29
4  64   8  11  53  57  39  74  53  19  72
5  16  45   1  13  18  76  80  98  94  25
6  37  64  20  36  31  11  61  21  28   9
7  87  27  88  47  48  55  87  10  46   3

    0   1   2   3   4   5   6   7   8   9  2nd largest
0  96  12  82  71  64  88  76  10  78  41           88
1   5  64  41  61  93  65   6  13  94  41           93
2  50  84   9  30  60  35  45  73  20  11           73
3  77  96  88   1  74   9  63  37  84  29           88
4  64   8  11  53  57  39  74  53  19  72           72
5  16  45   1  13  18  76  80  98  94  25           94
6  37  64  20  36  31  11  61  21  28   9           61
7  87  27  88  47  48  55  87  10  46   3           87